<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/9c5f6822d9.js" crossorigin="anonymous"></script>
    <title>Moringa Feedback</title>
</head>

<body>
    <div class="logs">
        <span class="login-title">Moringa Feedback</span>&nbsp;
        <sup><span class="log"><i class="fa-solid fa-comment"></i>
    </div>


        <div class="formLog">
            <form action="">
                <span>Name</span><br> <input type="text" name="" id=""><br>
               <span>Email</span><br> <input type="email" name="" id=""><br>
                <span>Password</span><br><input type="password" name="" id=""><br>
                <button type="submit">Signup</button>
    
            </form>
        </div>


    
    


</body>



</html>