<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Moringa Feedback</title>
</head>
<div class="navbar">
    <div class="logo">
        <img src="Assets/moringa-logo.png" alt="" class="imageLogo" style="height: 50px;">
    </div>
    <div class="support">
        <p><span>Technical Mentors</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Student Support</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Canvas</span> </p>
    </div>
    <div class="profile">
        <div id="profile">
            <div>
                <p>Samuel Martins</p>
                <p>Sign Out</p>
            </div>
            <img src="./Assets/profile.jpeg" style="border-radius:50%;height:80px">

        </div>

    </div>
</div>

<div class="content">
    <div class="options">
        <button style="width:200%; height: 15%;">Questions</button><br><br>
        <button style="width:200%; height: 15%;">Feedback</button><br><br>
        <button style="width:200%; height: 15%;">Shoutouts</button><br><br>
        <button style="width:200%; height: 15%;">Addressed</button><br><br>
    </div>

    <div class="options2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa <br>doloremque pariatur nam
            consequuntur sed aliquid vero repellat<br> officia! Minus, harum?
        </p>
        <div class="vote1">
            <p>Upvote +1</p>
            <p>Downvote -1</p><br><br>
            <button style="border:1px orange solid;height:3%; background-color:orange; color:white;text-align:center">Hide</button>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa <br>doloremque pariatur nam
            consequuntur sed aliquid vero repellat<br> officia! Minus, harum?
        </p>
        <span>By John Doe</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa <br>doloremque pariatur nam
            consequuntur sed aliquid vero repellat<br> officia! Minus, harum?
        </p>
        <div class="vote1">
            <p>Upvote +1</p>
            <p>Downvote -1</p><br><br>
            <button  id="vote1" style="border:1px orange solid;height:3%; background-color:orange; color:white;text-align:center">Comments</button>
        </div>


    </div>
    <div class="options3">
        <p>Share Anything</p>

        <div class="form">
            <span>
                <select name="" id="" style="height:180%; width:100%">
                    <option value="Technical Mentors">Technical Mentors</option>
                </select>
            </span>
            <span>
                <select name="" id="" style="height:180%; width:100%">
                    <option value="Technical Mentors">Technical Mentors</option>
                </select>

            </span>
        </div><br><br>
        <Textarea rows="10" cols="35">

        </Textarea><br>
        <div class="post">
            <button>Post</button>
        </div>



    </div>
</div>


</body>

</html>