@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* @media (max-width: 500px) {
}

@media (min-width: 501px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 1441px) and (max-width: 1920px) {
}

@media (min-width: 1921px) {
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #dcdddd;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 1vw;
  letter-spacing: 0.02vw;
  line-height: 1.5vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  p {
    font-size: 1.3vw;
    letter-spacing: 0.02vw;
    line-height: 1.2vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  p {
    font-size: 1.7vw;
    letter-spacing: 0.02vw;
    line-height: 1.2vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  p {
    font-size: 2.2vw;
    letter-spacing: 0.02vw;
    line-height: 1.2vw;
  }
}
@media (max-width: 500px) {
  p {
    font-size: 3.9vw;
    letter-spacing: 0.02vw;
    line-height: 1.2vw;
  }
}

body {
  background-image: url("../images/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#greeting {
  margin-bottom: 5%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  #greeting {
    margin-bottom: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#greeting h1 {
  font-size: 2.5vw;
  letter-spacing: 0.1vw;
  margin-right: 1%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #greeting h1 {
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
    margin-right: 1%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #greeting h1 {
    font-size: 4.5vw;
    letter-spacing: 0.1vw;
    margin-right: 1%;
  }
}
@media (max-width: 500px) {
  #greeting h1 {
    font-size: 6.5vw;
    letter-spacing: 0.1vw;
    margin-right: 1%;
  }
}

#greeting svg {
  width: 2.5vw;
  height: 2.5vw;
  margin-top: -4%;
  margin-left: 1%;
  color: #fa510f;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #greeting svg {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: -4%;
    margin-left: 1%;
    color: #fa510f;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #greeting svg {
    width: 4.5vw;
    height: 4.5vw;
    margin-top: -4%;
    margin-left: 1%;
    color: #fa510f;
  }
}
@media (max-width: 500px) {
  #greeting svg {
    width: 6.5vw;
    height: 6.5vw;
    margin-top: -4%;
    margin-left: 1%;
    color: #fa510f;
  }
}

#login {
  width: 50%;
  /* height: 30vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #login {
    width: 70%;
    /* height: 30vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #login {
    width: 80%;
    /* height: 30vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  #login {
    width: 100%;
    /* height: 30vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

#login form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  animation: appear 1s;
}
@media (min-width: 501px) and (max-width: 768px) {
  #login form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;
    animation: appear 1s;
  }
}
@media (max-width: 500px) {
  #login form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;
    animation: appear 1s;
  }
}

#flash {
  margin-top: -5%;
  color: #fa510f;
}
@media (max-width: 500px) {
  #flash {
    margin-top: -5%;
    color: #fa510f;
    padding: 0 10%;
    line-height: 5vw;
  }
}

#login form input:focus,
#login form input:active {
  background: transparent;
}

#login form h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20%;
  font-size: 1.7vw;
  letter-spacing: 0.05vw;
  color: #fa510f;
}

#login form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15%;
}

#login form label span {
  margin-bottom: 2%;
  width: 100%;
  font-size: 1vw;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #login form label span {
    margin-bottom: 2%;
    width: 100%;
    font-size: 1.2vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #login form label span {
    margin-bottom: 2%;
    width: 100%;
    font-size: 1.7vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #login form label span {
    margin-bottom: 2%;
    width: 100%;
    font-size: 2.2vw;
  }
}
@media (max-width: 500px) {
  #login form label span {
    margin-bottom: 2%;
    width: 100%;
    font-size: 4.2vw;
  }
}

#login form label input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 0.1vw #fa510f;
  padding: 2%;
  font-size: 0.9vw;
  background-color: transparent;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #login form label input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 0.1vw #fa510f;
    padding: 2%;
    font-size: 1.2vw;
    background-color: transparent;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #login form label input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 0.1vw #fa510f;
    padding: 2%;
    font-size: 1.7vw;
    background-color: transparent;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #login form label input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 0.1vw #fa510f;
    padding: 2%;
    font-size: 2.1vw;
    background-color: transparent;
  }
}
@media (max-width: 500px) {
  #login form label input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 0.1vw #fa510f;
    padding: 3%;
    font-size: 3.9vw;
    background-color: transparent;
  }
}

#login form label input::placeholder {
  color: rgb(134, 134, 134);
}

#login form .submit {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 3% 10%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 0.9vw;
  border-radius: 0.3vw;
  border: 0.1vw solid #fa510f;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #login form .submit {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 3% 10%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.3vw;
    border-radius: 0.3vw;
    border: 0.1vw solid #fa510f;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #login form .submit {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 3% 10%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.6vw;
    border-radius: 0.3vw;
    border: 0.1vw solid #fa510f;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #login form .submit {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 3% 10%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.1vw;
    border-radius: 0.3vw;
    border: 0.1vw solid #fa510f;
  }
}
@media (max-width: 500px) {
  #login form .submit {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 4% 10%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 3.9vw;
    border-radius: 1vw;
    border: 0.1vw solid #fa510f;
  }
}

#login form p span {
  font-size: 0.9vw;
  cursor: pointer;
  color: #fa510f;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #login form p span {
    font-size: 1.3vw;
    cursor: pointer;
    color: #fa510f;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #login form p span {
    font-size: 1.7vw;
    cursor: pointer;
    color: #fa510f;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #login form p span {
    font-size: 2.1vw;
    cursor: pointer;
    color: #fa510f;
  }
}
@media (max-width: 500px) {
  #login form p span {
    font-size: 3.9vw;
    cursor: pointer;
    color: #fa510f;
  }
}

#login #signup-form {
  display: none;
}

/* @media screen and (min-width: 1025px) and (max-width: 1440px) {
  p {
    font-size: 1.1vw;
    letter-spacing: 0.02vw;
    line-height: 1.5vw;
  }

  body {
    background-image: url("../images/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  #greeting {
    margin-bottom: 5%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #greeting h1 {
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    margin-right: 1%;
  }

  #greeting svg {
    width: 3vw;
    height: 3vw;
    margin-top: -4%;
    margin-left: 1%;
    color: #fa510f;
  }

  #login {
    width: 50%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes vanish {
    0% {
      opacity: 1;
      display: block;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }

  #login form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;
    animation: appear 1s;
  }

  #flash {
    margin-top: -5%;
    color: #fa510f;
  }

  #login form input:focus,
  #login form input:active {
    background: transparent;
  }

  #login form h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
    font-size: 1.9vw;
    letter-spacing: 0.05vw;
    color: #fa510f;
  }

  #login form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15%;
  }

  #login form label span {
    margin-bottom: 2%;
    width: 100%;
    font-size: 1.2vw;
  }

  #login form label input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 0.1vw #fa510f;
    padding: 2%;
    font-size: 1.1vw;
    background-color: transparent;
  }

  #login form label input::placeholder {
    color: rgb(134, 134, 134);
  }

  #login form .submit {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 3% 10%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.1vw;
    border-radius: 0.3vw;
    border: 0.1vw solid #fa510f;
  }

  #login form p span {
    font-size: 1.1vw;
    cursor: pointer;
    color: #fa510f;
  }

  #login #signup-form {
    display: none;
  }
} */
