@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 1vw;
  letter-spacing: 0.02vw;
  line-height: 1.5vw;
}

body {
  background-image: url("../images/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: solid 0.1vw #1a2b4b;
}

h1 {
  font-size: 15vw;
  font-weight: 900;
  letter-spacing: 1vw;
  color: #fa510f;
}

h2 {
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.05vw;
  margin-bottom: 5%;
  color: #dcdddd;
}

a {
  color: #fff;
  background-color: #fa510f;
  padding: 1% 2%;
  font-size: 1vw;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 0.3vw;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  p {
    font-size: 1.1vw;
    letter-spacing: 0.02vw;
    line-height: 1.5vw;
  }

  body {
    background-image: url("../images/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0.1vw #1a2b4b;
  }

  h1 {
    font-size: 15vw;
    font-weight: 900;
    letter-spacing: 1vw;
    color: #fa510f;
  }

  h2 {
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0.05vw;
    margin-bottom: 5%;
    color: #dcdddd;
  }

  a {
    color: #fff;
    background-color: #fa510f;
    padding: 1% 2%;
    font-size: 1vw;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 0.3vw;
  }
}
