@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* - - -  global styling - - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #dcdddd;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 1vw;
  letter-spacing: 0.02vw;
  line-height: 1.5vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  p {
    font-size: 1.1vw;
    letter-spacing: 0.02vw;
    line-height: 1.7vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  p {
    font-size: 1.4vw;
    letter-spacing: 0.02vw;
    line-height: 2vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  p {
    font-size: 2.2vw;
    letter-spacing: 0.02vw;
    line-height: 3vw;
  }
}
@media (max-width: 500px) {
  p {
    font-size: 3.9vw;
    letter-spacing: 0.02vw;
    line-height: 1.2vw;
  }
}

body {
  background-image: url("../images/background2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (min-width: 501px) and (max-width: 768px) {
  body {
    height: auto;
  }
}

main {
  width: 100%;
  height: 100%;
  padding: 2% 4%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* - - -  header styling - - - */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
@media (min-width: 501px) and (max-width: 768px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    padding: 3% 0;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #101f3c;
  }
}

#header .logo {
  width: 20%;
}

#header .logo img {
  height: 3vw;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #header .logo img {
    height: 4vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #header .logo img {
    height: 6vw;
  }
}

#header .navlinks {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 501px) and (max-width: 768px) {
  #header .navlinks {
    display: none;
  }
}

#header .navlinks ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .navlinks ul li {
  margin: 0 2%;
  font-size: 1vw;
  cursor: pointer;
  letter-spacing: 0.05vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #header .navlinks ul li {
    margin: 0 2%;
    font-size: 1.1vw;
    cursor: pointer;
    letter-spacing: 0.05vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #header .navlinks ul li {
    margin: 0 2%;
    font-size: 1.4vw;
    cursor: pointer;
    letter-spacing: 0.05vw;
  }
}

#header .navlinks ul li a {
  text-decoration: none;
}

#header .navlinks ul li a:hover {
  color: #fa510f;
}

#header .user-image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #header .user-image {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #header .user-image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #header .user-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#header .user-image .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#header .user-image .info p {
  font-size: 1vw;
  text-transform: capitalize;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #header .user-image .info p {
    font-size: 1.1vw;
    text-transform: capitalize;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #header .user-image .info p {
    font-size: 1.4vw;
    text-transform: capitalize;
    letter-spacing: 0.05vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #header .user-image .info p {
    font-size: 2.3vw;
    text-transform: capitalize;
    letter-spacing: 0.05vw;
  }
}

#header .user-image .info a {
  text-decoration: none;
  color: #fa510f;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.05vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #header .user-image .info a {
    text-decoration: none;
    margin-top: 0.3vw;
    color: #fa510f;
    font-size: 1.1vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #header .user-image .info a {
    text-decoration: none;
    margin-top: 0.3vw;
    color: #fa510f;
    font-size: 1.4vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #header .user-image .info a {
    text-decoration: none;
    margin-top: 0.3vw;
    color: #fa510f;
    font-size: 2.2vw;
    font-weight: 600;
    letter-spacing: 0.05vw;
  }
}

#header .user-image .image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 5%;
}

#header .user-image .image img {
  width: 4vw;
  border: solid 0.2vw #fa510f;
  border-radius: 50%;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #header .user-image .image img {
    width: 4.5vw;
    border: solid 0.2vw #fa510f;
    border-radius: 50%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #header .user-image .image img {
    width: 5vw;
    border: solid 0.2vw #fa510f;
    border-radius: 50%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #header .user-image .image img {
    width: 8vw;
    border: solid 0.2vw #fa510f;
    border-radius: 50%;
  }
}

/* - - - content section styling - - - */

#content {
  display: flex;
  padding-top: 5%;
  height: 85%;
}

@media (min-width: 501px) and (max-width: 768px) {
  #content {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    height: 85%;
  }
}

#content #nav {
  width: 15%;
  border-right: 0.1vw solid #fa510f;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #nav {
    width: 100%;
    border-right: 0vw solid #fa510f;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

#content #nav ul {
  width: 60%;
  list-style: none;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content #nav ul {
    width: 70%;
    list-style: none;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#content #nav ul li {
  width: 100%;
  text-transform: capitalize;
  border: 0.1vw solid #668cd14d;
  padding: 10% 20%;
  margin-bottom: 20%;
  text-align: center;
  background-color: #3a4863;
  font-size: 0.9vw;
  border-radius: 0.3vw;
  cursor: pointer;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #content #nav ul li {
    border: 0.1vw solid #668cd14d;
    padding: 10% 10%;
    margin-bottom: 20%;
    text-align: center;
    background-color: #3a4863;
    font-size: 1vw;
    border-radius: 0.3vw;
    cursor: pointer;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content #nav ul li {
    border: 0.1vw solid #668cd14d;
    padding: 10% 0;
    margin-bottom: 20%;
    text-align: center;
    background-color: #3a4863;
    font-size: 1.4vw;
    border-radius: 0.3vw;
    cursor: pointer;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #nav ul li {
    width: auto;
    border: 0.1vw solid #668cd14d;
    padding: 2% 5%;
    margin-bottom: 0;
    margin: 0 2%;
    text-align: center;
    background-color: #3a4863;
    font-size: 2vw;
    border-radius: 0.3vw;
    cursor: pointer;
  }
}

#content #nav ul li:hover {
  border: 0.1vw solid #dddddc56;
  background-color: #dddddc56;
}

#content #main-view {
  width: 55%;
  border-right: 0.1vw solid #fa510f;
  padding: 0 3%;
  overflow: auto;
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #main-view {
    width: 100%;
    border-right: 0vw solid #fa510f;
    padding: 0 3%;
    overflow: auto;
    margin-top: 5%;
  }
}

#content #main-view .main-content {
  display: block;
  position: relative;
}

#content #main-view .main-content h1 {
  margin-top: -2%;
  width: 100%;
  background-color: #101f3c;
  position: sticky;
  top: 0;
  color: #fa520fde;
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 1%;
  padding-bottom: 1%;
  font-weight: 500;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content #main-view .main-content h1 {
    margin-top: -2%;
    width: 100%;
    background-color: #101f3c;
    position: sticky;
    top: 0;
    color: #fa520fde;
    font-size: 1.8vw;
    text-transform: capitalize;
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-weight: 500;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #main-view .main-content h1 {
    margin-top: -2%;
    width: 100%;
    background-color: #101f3c;
    position: sticky;
    top: 0;
    color: #fa520fde;
    font-size: 2.5vw;
    text-transform: capitalize;
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-weight: 500;
  }
}

#content #main-view .main-content .feedback {
  overflow: auto;
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #main-view .main-content .feedback {
    overflow: auto;
    max-height: 100vh;
  }
}

#content #main-view .main-content .feedback .feedback-div {
  margin-top: 4%;
  border-radius: 0.7vw;
  background-color: #3a4863;
  border: 0.1vw solid #668cd14d;
  padding: 4%;
}

#content #main-view .main-content {
  display: none;
}

#content #main-view .active {
  display: block;
  animation: appear 1s;
}

#content #main-view .main-content .feedback .feedback-div .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 0;
}

#content #main-view .main-content .feedback .feedback-div .stats .numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#content #main-view .main-content .feedback .feedback-div .stats .numbers div {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

#content #main-view .main-content .feedback .feedback-div .stats p {
  text-transform: capitalize;
  color: #dcdddd;
  cursor: pointer;
  background-color: #fa510f;
  padding: 1% 3%;
  border-radius: 0.3vw;
  font-size: 0.9vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #content #main-view .main-content .feedback .feedback-div .stats p {
    text-transform: capitalize;
    color: #dcdddd;
    cursor: pointer;
    background-color: #fa510f;
    padding: 1% 3%;
    border-radius: 0.3vw;
    font-size: 1vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content #main-view .main-content .feedback .feedback-div .stats p {
    text-transform: capitalize;
    color: #dcdddd;
    cursor: pointer;
    background-color: #fa510f;
    padding: 2% 3%;
    border-radius: 0.3vw;
    font-size: 1.4vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #main-view .main-content .feedback .feedback-div .stats p {
    text-transform: capitalize;
    color: #dcdddd;
    cursor: pointer;
    background-color: #fa510f;
    padding: 2% 3%;
    border-radius: 0.3vw;
    font-size: 2vw;
    line-height: 3vw;
  }
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .stats
  .numbers
  div
  form
  button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 0.5vw;
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .stats
  .numbers
  div
  form
  button
  svg {
  width: 1.5vw;
  color: #3a4863;
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .stats
  .numbers
  div
  span {
  font-size: 0.9vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .stats
    .numbers
    div
    span {
    font-size: 1vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .stats
    .numbers
    div
    span {
    font-size: 1.4vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .stats
    .numbers
    div
    span {
    font-size: 1.3vw;
    line-height: 2vw;
  }
}

#content #main-view .main-content .feedback .feedback-div .all-comments {
  padding-left: 10%;
  margin-top: 5%;
  display: none;
}

#content #main-view .main-content .feedback .feedback-div .all-comments h2 {
  font-size: 1.2vw;
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #main-view .main-content .feedback .feedback-div .all-comments h2 {
    font-size: 2.2vw;
  }
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .all-comments
  .comment {
  max-height: 10vw;
  overflow: auto;
}
@media (min-width: 501px) and (max-width: 768px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    .comment {
    max-height: 15vw;
    overflow: auto;
  }
}

#content #main-view .main-content .feedback .feedback-div .all-comments form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .all-comments
  form
  textarea {
  width: 100%;
  height: 7vw;
  border-radius: 0.5vw;
  border: 0.1vw solid #dcdddd48;
  outline: none;
  background-color: transparent;
  padding: 2%;
  font-size: 0.9vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    form
    textarea {
    width: 100%;
    height: 7vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #dcdddd48;
    outline: none;
    background-color: transparent;
    padding: 2%;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    line-height: 1.7vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    form
    textarea {
    width: 100%;
    height: 7vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #dcdddd48;
    outline: none;
    background-color: transparent;
    padding: 2%;
    font-size: 1.4vw;
    letter-spacing: 0.05vw;
    line-height: 1.7vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    form
    textarea {
    width: 100%;
    height: 10vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #dcdddd48;
    outline: none;
    background-color: transparent;
    padding: 2%;
    font-size: 2vw;
    letter-spacing: 0.05vw;
    line-height: 2.9vw;
  }
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .all-comments
  form
  input[type="submit"] {
  background-color: #fa510f;
  outline: none;
  border: none;
  padding: 2% 3%;
  font-size: 0.9vw;
  border-radius: 0.3vw;
  margin-top: 3%;
  text-transform: capitalize;
  cursor: pointer;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    form
    input[type="submit"] {
    background-color: #fa510f;
    outline: none;
    border: none;
    padding: 2% 3%;
    font-size: 1vw;
    border-radius: 0.3vw;
    margin-top: 3%;
    text-transform: capitalize;
    cursor: pointer;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    form
    input[type="submit"] {
    background-color: #fa510f;
    outline: none;
    border: none;
    padding: 3% 3%;
    font-size: 1.4vw;
    border-radius: 0.3vw;
    margin-top: 3%;
    text-transform: capitalize;
    cursor: pointer;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    form
    input[type="submit"] {
    background-color: #fa510f;
    outline: none;
    border: none;
    padding: 3% 3%;
    font-size: 2vw;
    border-radius: 0.3vw;
    margin-top: 3%;
    text-transform: capitalize;
    cursor: pointer;
  }
}

#content #main-view .main-content .feedback .feedback-div .all-comments h2 {
  text-transform: capitalize;
  margin-bottom: 3%;
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #main-view .main-content .feedback .feedback-div .all-comments h2 {
    text-transform: capitalize;
    margin-bottom: 1.5%;
  }
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .all-comments
  .comment
  .comment-box {
  margin-top: 5%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content
    #main-view
    .main-content
    .feedback
    .feedback-div
    .all-comments
    .comment
    .comment-box {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .all-comments
  .comment
  .comment-box
  p {
  margin-bottom: 2%;
}

#content
  #main-view
  .main-content
  .feedback
  .feedback-div
  .all-comments
  .comment
  .comment-box
  p
  span {
  color: #fa510f;
  text-transform: capitalize;
}

#content #share-anything {
  width: 30%;
  padding: 0 3%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content #share-anything {
    width: 30%;
    padding: 0 0 0 3%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #share-anything {
    width: 100%;
    padding: 0 3%;
    margin-bottom: 10%;
  }
}

#content #share-anything h3 {
  text-transform: capitalize;
  color: #fa520fde;
  font-size: 1.2vw;
  margin-bottom: 9%;
  font-weight: 600;
}
@media (min-width: 769px) and (max-width: 1024px) {
  #content #share-anything h3 {
    text-transform: capitalize;
    color: #fa520fde;
    font-size: 1.7vw;
    margin-bottom: 9%;
    font-weight: 600;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #content #share-anything h3 {
    text-transform: capitalize;
    color: #fa520fde;
    font-size: 2.5vw;
    margin-bottom: 3.5%;
    font-weight: 500;
    margin-top: 10%;
  }
}

#share-anything form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

#share-anything form .selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
}

#share-anything form select {
  width: 47%;
  outline: none;
  border: 0.1vw solid #668cd14d;
  background-color: #3a4863;
  border-radius: 0.3vw;
  font-size: 0.9vw;
  padding: 3%;
  margin-bottom: 5%;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #share-anything form select {
    width: 47%;
    outline: none;
    border: 0.1vw solid #668cd14d;
    background-color: #3a4863;
    border-radius: 0.3vw;
    font-size: 1vw;
    padding: 3%;
    margin-bottom: 5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #share-anything form select {
    width: 47%;
    outline: none;
    border: 0.1vw solid #668cd14d;
    background-color: #3a4863;
    border-radius: 0.3vw;
    font-size: 1.3vw;
    padding: 3%;
    margin-bottom: 5%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #share-anything form select {
    width: 47%;
    outline: none;
    border: 0.1vw solid #668cd14d;
    background-color: #3a4863;
    border-radius: 0.3vw;
    font-size: 2.1vw;
    padding: 3%;
    margin-bottom: 5%;
  }
}

#share-anything form textarea {
  width: 100%;
  height: 15vw;
  outline: none;
  border-radius: 0.5vw;
  margin-bottom: 6%;
  border-color: #668cd14d;
  background-color: #3a4863;
  padding: 3%;
  font-size: 0.9vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #share-anything form textarea {
    width: 100%;
    height: 15vw;
    outline: none;
    border-radius: 0.5vw;
    margin-bottom: 6%;
    border-color: #668cd14d;
    background-color: #3a4863;
    padding: 3%;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    line-height: 1.7vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #share-anything form textarea {
    width: 100%;
    height: 15vw;
    outline: none;
    border-radius: 0.5vw;
    margin-bottom: 6%;
    border-color: #668cd14d;
    background-color: #3a4863;
    padding: 3%;
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
    line-height: 1.7vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #share-anything form textarea {
    width: 100%;
    height: 25vw;
    outline: none;
    border-radius: 0.5vw;
    margin-bottom: 6%;
    border-color: #668cd14d;
    background-color: #3a4863;
    padding: 3%;
    font-size: 2.1vw;
    letter-spacing: 0.05vw;
    line-height: 2.8vw;
  }
}

#share-anything form textarea::placeholder {
  color: #b3b0b0;
}

#share-anything form input {
  background-color: #3a4863;
  padding: 3% 7%;
  border: none;
  outline: none;
  color: #dcdddd;
  border: 0.1vw solid #668cd14d;
  border-radius: 0.3vw;
  cursor: pointer;
  font-size: 0.9vw;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  #share-anything form input {
    background-color: #3a4863;
    padding: 3% 7%;
    border: none;
    outline: none;
    color: #dcdddd;
    border: 0.1vw solid #668cd14d;
    border-radius: 0.3vw;
    cursor: pointer;
    font-size: 1vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #share-anything form input {
    background-color: #3a4863;
    padding: 3% 7%;
    border: none;
    outline: none;
    color: #dcdddd;
    border: 0.1vw solid #668cd14d;
    border-radius: 0.3vw;
    cursor: pointer;
    font-size: 1.2vw;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #share-anything form input {
    background-color: #3a4863;
    padding: 3% 7%;
    border: none;
    outline: none;
    color: #dcdddd;
    border: 0.1vw solid #668cd14d;
    border-radius: 0.3vw;
    cursor: pointer;
    font-size: 2.1vw;
    margin: 0 auto;
  }
}
