<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='images/moringa_logo.png')}}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/user.css')}}"
    />
    <title>Student</title>
  </head>
  <body>
    <main>
      <section id="header">
        <div class="logo">
          <a href="https://moringaschool.com/" target="_blank">
            <img
              src="{{url_for('static', filename='images/moringa-logo.png')}}"
              alt=""
            />
          </a>
        </div>
        <div class="navlinks">
          <ul>
            <li>Technical Mentors</li>
            <li>Student Support</li>
            <li>Canvas</li>
            <li>Opportunities</li>
          </ul>
        </div>
        <div class="user-image">
          <div class="info">
            <p>{{user.name}} ( Student )</p>
            <a href="{{url_for('main.sign_out')}}">Sign Out</a>
          </div>
          <div class="image">
            <img
              src="{{url_for('static', filename='images/user.png')}}"
              alt=""
            />
          </div>
        </div>
      </section>
      <section id="content">
        <!-- main section -->
        <section id="nav">
          <ul>
            <li class="nav">questions</li>
            <li class="nav">feedback</li>
            <li class="nav">shout outs</li>
          </ul>
        </section>

        <!-- main-view section -->
        <section id="main-view">
          <!-- questions -->
          <div id="questions" class="main-content active">
            <h1>questions</h1>
            <!-- all the feedback -->
            <div class="feedback">
              {% if questions == 'empty' %}
              <div class="feedback-div">
                <p class="single-feedback">
                  There are no inputs on this categoy yet.
                </p>
              </div>
              {% else %}
              <!--  -->
              {% for question in questions %}
              <div class="feedback-div">
                <p class="single-feedback">{{question.content}}</p>
                <div class="stats">
                  <div class="numbers">
                    <div class="likes">
                      <form action="">
                        <button type="submit">
                          <!-- <svg
                            aria-hidden="true"
                            role="img"
                            viewBox="0 0 16 16"
                            class="thumbs-up"
                          >
                            <path
                              fill="#dcdddd"
                              d="M9.58 1.052c-.75-.209-1.336.35-1.545.871c-.24.6-.453 1.021-.706 1.524a44.75 44.75 0 0 0-.533 1.09c-.475 1.01-.948 1.656-1.293 2.045a4.063 4.063 0 0 1-.405.402a1.92 1.92 0 0 1-.101.081l-.016.012L3.109 8.18a2 2 0 0 0-.856 2.426l.52 1.384a2 2 0 0 0 1.273 1.205l5.356 1.682a2.5 2.5 0 0 0 3.148-1.68l1.364-4.647a2 2 0 0 0-1.92-2.563H10.61c.066-.227.133-.479.195-.74c.131-.562.243-1.203.232-1.738c-.009-.497-.06-1.019-.264-1.462c-.219-.475-.602-.832-1.192-.996ZM4.978 7.08l-.002.001Z"
                            />
                          </svg> -->
                        </button>
                      </form>
                      <span></span>
                    </div>
                    <div class="dislikes">
                      <form action="">
                        <button type="submit">
                          <!-- <svg
                            aria-hidden="true"
                            role="img"
                            viewBox="0 0 16 16"
                            class="thumbs-down"
                          >
                            <path
                              fill="#dcdddd"
                              d="M13.094 4.62a3.5 3.5 0 0 0-4.377-2.727l-4.95 1.375a2 2 0 0 0-1.43 1.558l-.224 1.196c-.165.879.46 1.647 1.157 1.936c.255.106.546.253.853.458c1.68 1.119 2.48 2.636 3.016 3.925c.096.232.188.47.277.699c.146.376.284.73.416 1.001c.111.227.245.455.42.63c.186.188.435.329.748.329c.357 0 .666-.124.912-.34c.235-.207.393-.481.502-.761c.214-.554.281-1.251.29-1.893A14.73 14.73 0 0 0 10.577 10h.512a2.5 2.5 0 0 0 2.457-2.961l-.453-2.42Z"
                            />
                          </svg> -->
                        </button>
                      </form>
                      <span></span>
                    </div>
                  </div>
                  <p class="show-comments">show comments</p>
                </div>
                <div class="all-comments">
                  <form
                    action="{{url_for('main.question_comment', question_id=question.id)}}"
                    id="comment-form"
                    method="post"
                  >
                    <textarea name="comment" id="comment"></textarea>
                    <input type="submit" value="leave comment" />
                  </form>
                  <h2>Comments:</h2>
                  <div class="comment">
                    {% if q_comments == 'empty' %}
                    <div class="comment-box">
                      <p>There are no comments on this yet</p>
                    </div>
                    {% else %}
                    <!--  -->
                    {% for comment in q_comments %}
                    <!--  -->
                    {% if comment.question_id == question.id%}
                    <div class="comment-box">
                      <p>{{comment.comment}}</p>
                      {% for user in users %}
                      <!--  -->
                      {% if user.id == comment.question_user_id %}
                      <p>By: <span>{{user.name}}</span></p>
                      {% endif %}
                      <!-- -->
                      {% endfor %}
                    </div>
                    {% endif %}
                    <!--  -->
                    {% endfor %}
                    <!--  -->
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--  -->
              {% endif %}
            </div>
          </div>

          <!-- feedback -->
          <div id="feedback" class="main-content">
            <h1>feedback</h1>
            <!-- all the feedback -->
            <div class="feedback">
              {% if feedback == 'empty' %}
              <div class="feedback-div">
                <p class="single-feedback">
                  There are no inputs on this categoy yet.
                </p>
              </div>
              {% else %}
              <!--  -->
              {% for feedback in feedback %}
              <div class="feedback-div">
                <p class="single-feedback">{{feedback.content}}</p>
                <div class="stats">
                  <div class="numbers">
                    <div class="likes">
                      <form action="">
                        <button type="submit">
                          <!-- <svg
                            aria-hidden="true"
                            role="img"
                            viewBox="0 0 16 16"
                            class="thumbs-up"
                          >
                            <path
                              fill="#dcdddd"
                              d="M9.58 1.052c-.75-.209-1.336.35-1.545.871c-.24.6-.453 1.021-.706 1.524a44.75 44.75 0 0 0-.533 1.09c-.475 1.01-.948 1.656-1.293 2.045a4.063 4.063 0 0 1-.405.402a1.92 1.92 0 0 1-.101.081l-.016.012L3.109 8.18a2 2 0 0 0-.856 2.426l.52 1.384a2 2 0 0 0 1.273 1.205l5.356 1.682a2.5 2.5 0 0 0 3.148-1.68l1.364-4.647a2 2 0 0 0-1.92-2.563H10.61c.066-.227.133-.479.195-.74c.131-.562.243-1.203.232-1.738c-.009-.497-.06-1.019-.264-1.462c-.219-.475-.602-.832-1.192-.996ZM4.978 7.08l-.002.001Z"
                            />
                          </svg> -->
                        </button>
                      </form>
                      <span></span>
                    </div>
                    <div class="dislikes">
                      <form action="">
                        <button type="submit">
                          <!-- <svg
                            aria-hidden="true"
                            role="img"
                            viewBox="0 0 16 16"
                            class="thumbs-down"
                          >
                            <path
                              fill="#dcdddd"
                              d="M13.094 4.62a3.5 3.5 0 0 0-4.377-2.727l-4.95 1.375a2 2 0 0 0-1.43 1.558l-.224 1.196c-.165.879.46 1.647 1.157 1.936c.255.106.546.253.853.458c1.68 1.119 2.48 2.636 3.016 3.925c.096.232.188.47.277.699c.146.376.284.73.416 1.001c.111.227.245.455.42.63c.186.188.435.329.748.329c.357 0 .666-.124.912-.34c.235-.207.393-.481.502-.761c.214-.554.281-1.251.29-1.893A14.73 14.73 0 0 0 10.577 10h.512a2.5 2.5 0 0 0 2.457-2.961l-.453-2.42Z"
                            />
                          </svg> -->
                        </button>
                      </form>
                      <span></span>
                    </div>
                  </div>
                  <p class="show-comments">show comments</p>
                </div>
                <div class="all-comments">
                  <form
                    action="{{url_for('main.feedback_comment', feedback_id=feedback.id)}}"
                    id="comment-form"
                    method="post"
                  >
                    <textarea name="comment" id="comment"></textarea>
                    <input type="submit" value="leave comment" />
                  </form>
                  <h2>Comments:</h2>
                  <div class="comment">
                    {% if f_comments == 'empty' %}
                    <div class="comment-box">
                      <p>There are no comments on this yet</p>
                    </div>
                    {% else %}
                    <!--  -->
                    {% for comment in f_comments %}
                    <!--  -->
                    {% if comment.feedback_id == feedback.id%}
                    <div class="comment-box">
                      <p>{{comment.comment}}</p>
                      {% for user in users %}
                      <!--  -->
                      {% if user.id == comment.feedback_user_id %}
                      <p>By: <span>{{user.name}}</span></p>
                      {% endif %}
                      <!-- -->
                      {% endfor %}
                    </div>
                    {% endif %}
                    <!--  -->
                    {% endfor %}
                    <!--  -->
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--  -->
              {% endif %}
            </div>
          </div>

          <!-- shout outs -->
          <div id="shoutouts" class="main-content">
            <h1>shout outs</h1>
            <!-- all the feedback -->
            <div class="feedback">
              {% if shoutouts == 'empty' %}
              <div class="feedback-div">
                <p class="single-feedback">
                  There are no inputs on this categoy yet.
                </p>
              </div>
              {% else %}
              <!--  -->
              {% for shoutout in shoutouts%}
              <div class="feedback-div">
                <p class="single-feedback">{{shoutout.content}}</p>
                <div class="stats">
                  <div class="numbers">
                    <div class="likes">
                      <form action="">
                        <button type="submit">
                          <!-- <svg
                            aria-hidden="true"
                            role="img"
                            viewBox="0 0 16 16"
                            class="thumbs-up"
                          >
                            <path
                              fill="#dcdddd"
                              d="M9.58 1.052c-.75-.209-1.336.35-1.545.871c-.24.6-.453 1.021-.706 1.524a44.75 44.75 0 0 0-.533 1.09c-.475 1.01-.948 1.656-1.293 2.045a4.063 4.063 0 0 1-.405.402a1.92 1.92 0 0 1-.101.081l-.016.012L3.109 8.18a2 2 0 0 0-.856 2.426l.52 1.384a2 2 0 0 0 1.273 1.205l5.356 1.682a2.5 2.5 0 0 0 3.148-1.68l1.364-4.647a2 2 0 0 0-1.92-2.563H10.61c.066-.227.133-.479.195-.74c.131-.562.243-1.203.232-1.738c-.009-.497-.06-1.019-.264-1.462c-.219-.475-.602-.832-1.192-.996ZM4.978 7.08l-.002.001Z"
                            />
                          </svg> -->
                        </button>
                      </form>
                      <span></span>
                    </div>
                    <div class="dislikes">
                      <form action="">
                        <button type="submit">
                          <!-- <svg
                            aria-hidden="true"
                            role="img"
                            viewBox="0 0 16 16"
                            class="thumbs-down"
                          >
                            <path
                              fill="#dcdddd"
                              d="M13.094 4.62a3.5 3.5 0 0 0-4.377-2.727l-4.95 1.375a2 2 0 0 0-1.43 1.558l-.224 1.196c-.165.879.46 1.647 1.157 1.936c.255.106.546.253.853.458c1.68 1.119 2.48 2.636 3.016 3.925c.096.232.188.47.277.699c.146.376.284.73.416 1.001c.111.227.245.455.42.63c.186.188.435.329.748.329c.357 0 .666-.124.912-.34c.235-.207.393-.481.502-.761c.214-.554.281-1.251.29-1.893A14.73 14.73 0 0 0 10.577 10h.512a2.5 2.5 0 0 0 2.457-2.961l-.453-2.42Z"
                            />
                          </svg> -->
                        </button>
                      </form>
                      <span></span>
                    </div>
                  </div>
                  <p class="show-comments">show comments</p>
                </div>
                <div class="all-comments">
                  <form
                    action="{{url_for('main.shoutout_comment', shoutout_id=shoutout.id)}}"
                    id="comment-form"
                    method="post"
                  >
                    <textarea name="comment" id="comment"></textarea>
                    <input type="submit" value="leave comment" />
                  </form>
                  <h2>Comments:</h2>
                  <div class="comment">
                    {% if s_comments == 'empty' %}
                    <div class="comment-box">
                      <p>There are no comments on this yet</p>
                    </div>
                    {% else %}
                    <!--  -->
                    {% for comment in s_comments %}
                    <!--  -->
                    {% if comment.shoutout_id == shoutout.id%}
                    <div class="comment-box">
                      <p>{{comment.comment}}</p>
                      {% for user in users %}
                      <!--  -->
                      {% if user.id == comment.shoutout_user_id %}
                      <p>By: <span>{{user.name}}</span></p>
                      {% endif %}
                      <!-- -->
                      {% endfor %}
                    </div>
                    {% endif %}
                    <!--  -->
                    {% endfor %}
                    <!--  -->
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--  -->
              {% endif %}
            </div>
          </div>
        </section>

        <!-- share form section -->
        <section id="share-anything">
          <h3>Share Anything</h3>
          <form
            action="{{url_for('main.share')}}"
            id="share-form"
            method="post"
          >
            <div class="selection">
              <select id="category" name="category">
                <option value="" selected>Select Category</option>
                <option value="questions">Questions</option>
                <option value="feedback">Feedback</option>
                <option value="shout outs">Shout Outs</option>
              </select>
              <select id="about" name="about">
                <option value="" selected>Select Topic</option>
                <option value="technical mentors">Technical Mentors</option>
                <option value="support">Support</option>
                <option value="canvas">Canvas</option>
              </select>
            </div>

            <textarea
              name="share-form"
              id="share-form"
              placeholder="Type here . . . "
            ></textarea>
            <input type="submit" value="Share" />
          </form>
        </section>
      </section>
    </main>
    <script src="{{url_for('static', filename='js/user.js')}}"></script>
  </body>
</html>
